:root {
  --font-size: 18px;
  --heading-1-size: 2rem;
  --heading-2-size: 1.5rem;
  --heading-line-height: 1.2;
  --heading-letter-spacing: 2px;
  --heading-color: #d19e2f;
  --heading-highlight-color: #ffb462;
  --heading-font: "Poppins", sans-serif;
  --background-image: url("./1920x1080_px_Dark_Evening_New_York_City_Street_Light_town-1402591.jpg");
}

* {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  /* background-color: rgba(1, 12, 63, 0.7); */
  box-shadow: 0 4px 2px 2px #000000;
  border-radius: 10px;
}

html {
  font-size: var(--font-size);
}

.highlight {
  color: var(--heading-highlight-color);
}

h1,
h2 {
  margin: 12px 12px 12px 12px;
  text-align: center;
  border-color: #ffb36279;
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
  font-family: var(--heading-font);
}

h1 {
  font-size: var(--heading-1-size);
  color: var(--heading-color);
  animation: blinker 1.5s ease-in-out infinite;
  background-image: linear-gradient(
    to right,
    #000000 25%,
    var(--heading-highlight-color) 25%,
    var(--heading-highlight-color) 50%,
    #000000 50%
  );
  background-size: 200% 100%;
  background-position: 0% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Standard property for compatibility */
  animation-fill-mode: both;
}

@keyframes blinker {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  font-size: var(--heading-2-size);
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 17% 5% 17%;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: var(--heading-color);
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .App {
    padding: 0 5% 5% 5%;
  }
}
