:root {
  --font-size: 18px;
  --heading-1-size: 2rem;
  --heading-2-size: 1.5rem;
  --heading-line-height: 1.2;
  --heading-letter-spacing: 2px;
  --heading-color: rgba(0, 0, 0, 0.7);
  --heading-highlight-color: rgba(255, 186, 127, 1);
  --heading-font: "Poppins", sans-serif;
  --background-image: url("./1920x1080_px_Dark_Evening_New_York_City_Street_Light_town-1402591.jpg");
}

* {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

html {
  font-size: var(--font-size);
}

.highlight {
  color: rgba(255, 186, 127, 1);
}

h1,
h2 {
  margin: 12px 12px 12px 12px;
  text-align: center;
  border-color: #ffb46257;
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
  font-family: var(--heading-font);
}

h1 {
  font-size: var(--heading-1-size);
  color: var(--heading-color);
  animation: blinker 1.5s ease-in-out infinite;
}

@keyframes blinker {
  0% {
    color: var(--heading-color);
  }
  50% {
    color: var(--heading-highlight-color);
  }
  100% {
    color: var(--heading-color);
  }
}

h2 {
  font-size: var(--heading-2-size);
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 17% 5% 17%;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #d19e2f;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .App {
    padding: 0 5% 5% 5%;
  }
}

